.person
  .person_header
    .person_header_logo
      Let's make your profile!
    .person_header_user
      = current_user.name
  .person_main
    .person_main_image
      = image_tag 'gg.jpeg', alt:"", class: "img"
    .person_main_form
      =render "input"
