.main
  =render "header"
  .main_body
    .main_body_topics
      =link_to "Let's conversation!!", new_group_path , class:"main_body_topics_con"
      - @group.each do | group |
        .main_body_topics_group
          .main_body_topics_group_title
            = group.title
          .main_body_topics_group_btn
            = link_to "Enter", group_comments_path(group), class: "main_body_topics_group_btn_henko"
            = link_to "Delete", group_path(group), method: :delete , class: "main_body_topics_group_btn_bot"