.search_show_content
  .show_header
    =render "groups/header"
  .search_result
    .result_users
      .users_all
        - @users.zip(@profiles).each do |user,profile|
          %ul
            %li
            = link_to user_path(user) do
              .user_one
                = "ユーザー：#{user.name}"
                %li.search_details
                ="紹介文: #{profile.thinking}"