.search_show_content
  .show_header
    =render "groups/header"
  .search_result
    .result_users
      %p SEARCH RESULT
      .users_all
        - @users.each do |user|
          %ul
            %li
            = link_to user_path(user), class: "user_link" do
              .user_one
                = "ユーザー：#{user.name}"